@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GraphQL API Demo</h1>
    <p><a href="/graphql">GraphQL Endpoint</a></p>
    <p><a href="/graphql-voyager">GraphQL API Documentation</a></p>
</div>
